<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id = "c" class="beans.Car">
		<property name="carnames">
			<list>
				<value>Audi</value>
				<value>Fiat</value>
				<value>BEnz</value>
			</list>
		</property>
		<property name="engine">
			<list>
				<ref bean="e1"/>
				<ref bean="e2"/>
				<ref bean="e3"/>
			</list>
		</property>
	</bean>
	
	<bean id="e1" class="beans.Engine">
		<property name="model" value="1992"></property>
	</bean>
	<bean id="e2" class="beans.Engine">
		<property name="model" value="1993"></property>
	</bean>
	<bean id="e3" class="beans.Engine">
		<property name="model" value="1994"></property>
	</bean>
</beans>