<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" 
"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id = "e" class="com.arun.test.Engine">
		<property name="model" value="1992"></property>
	</bean>
	<bean id = "c" class = "com.arun.test.Car">
		<property name="name"  value="Audi"></property>
		<property name="engine" ref="e"></property>
	</bean>


</beans>